<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change Password Form</title>
</head>
<body>
<h2>Cambiar Password</h2>
<div class="container">
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form th:action="@{/cambiarpassword}" th:object="${changePassform}" method="post">
      <div th:if="${error}" class="error-message">
        Error: <span th:text="${error}"></span>
      </div>
      <div class="row">
        <label>Username: </label>
        <input type="text" name="username">
      </div>
      <div class="row">
        <label>Antigua Password: </label>
        <input type="password" name="antiguaPassword">
      </div>
      <div class="row">
        <label>Nueva Password: </label>
        <input type="password" name="nuevaPassword">
      </div>
      <div class="row button">
        <input type="submit" name="Guardar">
      </div>
    </form>
  </div>
</div>